* {
    padding: 0;
    margin: 0;
}

#ask {
    position: fixed;
    width: 1200px;
    display: flex;
    min-height: 600px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    z-index: 999;
}

#ask .menu {
    color: #2d2f3f;
    margin-right: 24px;
    border-right: 1px solid #d9d9d9;
    padding-right: 24px;
    width: 395px;
}

#mask {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
}

#ask form {
    flex: 1;
    height: auto;
    position: relative;
}

#ask form span {
    display: block;
    font-size: 16px;
    color: #333333;
}

#ask form textarea {
    display: block;
    height: 100px;
    width: calc(100% - 20px);
    font-size: 16px;
    color: #333;
    resize: none;
    padding: 8px;
    border-radius: 8px;
}

#ask .divflex {
    display: flex;
    align-items: center;
}

#ask .divflex #titleCount {
    height: 34px;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid #434343;
    color: #333;
}

#ask .divflex .wordTypeBox {
    flex: 1;
    display: flex;
    align-items: center;
}

#ask form textarea#briefContent {
    height: 50px
}

#ask form textarea#newTitle {
    height: 40px
}

#ask #titleCount {
    width: 100px
}

#ask .wordTypeBox {
    display: inline-block;
    margin: 0 0 0 30px
}

#ask #wordType {
    height: 36px;
    width: 120px;
    color: #333;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid #434343;
}

#btnBOx {
    position: absolute;
    bottom: -10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

#btnBOx span {
    padding: 6px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 12px;
    color: #2f2f2f;
    cursor: pointer;
    background-color: #d9d9d9;
}

#ask form span.select-btn {
    width: auto !important;
    margin-left: 15px;
    background: #e2ebf7;
    padding: 4px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #8d8888;
    cursor: pointer
}

#ask form span.delete-all-btn {
    width: auto !important;
    margin-left: 25px;
    background: #fff;
    color: red;
    padding: 4px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid red;
    cursor: pointer
}

#ask .item-describe {
    font-size: 12px;
    margin-top: 4px;
}

#ask .item-title {
    font-size: 16px;
}

#ask .item {
    background: #fff;
    padding: 12px; 
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 1px #d9d9d9;
    transition: all 0, 3s;
}

#ask .item:hover {
    background-color: #54b01c54;
    box-shadow: 0px 0px 1px 1px #54b01c54;
}

#ask .item.on {
    background-color: #54b01c;
    box-shadow: 0px 0px 1px 1px #54b01c;
    color: #fff;
}

#ask .menu-title {
    font-size: 16px;
    color: #0e0e0e;
    font-weight: bold;
    margin-bottom: 12px;
}

#ask #menuList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#btnBOx span#confirm {
    background: #54b01c;
    color: #fff;
    text-shadow: none;
    border-radius: 6px;
    border: none;
}

#contentListsDom {
    height: auto;
    padding-bottom: 36px;
    overflow: auto
}

#contentListsDom li {
    padding: 6px;
    border-bottom: 1px solid #b8b5b5
}

#contentListsDom input {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
    outline: none !important;
    color: #333;
}

#contentListsDom .delete-btn {
    width: auto;
    float: right;
    color: red;
    cursor: pointer
}

#contentListsDom ul,
li {
    list-style: none
}

#contentListsDom input:focus {
    outline: none !important;
}


#ask .title {
    color: #666;
    font-size: 12px;
    position: absolute; 
    text-align: center;
    bottom: 5px;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}